In [1]:
import json
import pandas as pd
import os
import numpy as np
import requests
from dotenv import load_dotenv
import pathlib as path

In [2]:
load_dotenv()
api_key = os.getenv("CENSUS_API_KEY")

In [3]:
#All Census api requests start with https://api.census.gov/data
#Then it's the dataset (one of over 1,200), ex: 2018/pep/charagegroups
# Then "?get=" followed by the list of variables and geographies we want data for, ex:
#POP,GEONAME, DATE_DESC&DATE_CODE=11&RACE=10
#Then, set the geography/ FoR ex: "&for=county:*&in=state:24" The * means all available values

#https://api.census.gov/data/2018/pep/charagegroups?get=POP,GEONAME,DATE_DESC&DATE_CODE=11&RACE=10&for=county:*&in=state:24

In [4]:
query_url = f'https://api.census.gov/data/2021/pep/population?get=DENSITY_2020,DENSITY_2021,POP_2020,POP_2021,PPOPCHG_2021,NAME,STATE,REGION&for=state&key={api_key}'
query = requests.get(query_url).json()
print(json.dumps(query, indent=4))

[
    [
        "DENSITY_2020",
        "DENSITY_2021",
        "POP_2020",
        "POP_2021",
        "PPOPCHG_2021",
        "NAME",
        "STATE",
        "REGION",
        "state"
    ],
    [
        "57.7584243640",
        "58.1171593930",
        "3962031",
        "3986639",
        "0.6210955947",
        "Oklahoma",
        "40",
        null,
        "40"
    ],
    [
        "25.5338435350",
        "25.5629643700",
        "1961455",
        "1963692",
        "0.1140479899",
        "Nebraska",
        "31",
        null,
        "31"
    ],
    [
        "226.0689240300",
        "224.4561379100",
        "1451911",
        "1441553",
        "-0.7134046100",
        "Hawaii",
        "15",
        null,
        "15"
    ],
    [
        "11.7016675950",
        "11.8108489860",
        "887099",
        "895376",
        "0.9330412953",
        "South Dakota",
        "46",
        null,
        "46"
    ],
    [
        "167.8316023700",
        "169.1679021400",
        "6920119",
        "6975218",
        "0.7962146316",
        "Tennessee",
        "47",
        null,
        "47"
    ],
    [
        "28.3457163980",
        "28.6180620940",
        "3114071",
        "3143991",
        "0.9608001873",
        "Nevada",
        "32",
        null,
        "32"
    ],
    [
        "17.4554297200",
        "17.4415070270",
        "2117566",
        "2115877",
        "-0.0797613860",
        "New Mexico",
        "35",
        null,
        "35"
    ],
    [
        "57.0900516580",
        "57.1690084670",
        "3188669",
        "3193079",
        "0.1383022195",
        "Iowa",
        "19",
        null,
        "19"
    ],
    [
        "35.9091296250",
        "35.8932536190",
        "2935880",
        "2934582",
        "-0.0442116160",
        "Kansas",
        "20",
        null,
        "20"
    ],
    [
        "11289.7440490000",
        "10961.8457220000",
        "690093",
        "670050",
        "-2.9043911470",
        "District of Columbia",
        "11",
        null,
        "11"
    ],
    [
        "111.8305739900",
        "113.0182013800",
        "29217653",
        "29527941",
        "1.0619881070",
        "Texas",
        "48",
        null,
        "48"
    ],
    [
        "89.5241337770",
        "89.7235035990",
        "6154481",
        "6168187",
        "0.2226995258",
        "Missouri",
        "29",
        null,
        "29"
    ],
    [
        "57.9319853770",
        "58.1946786180",
        "3012232",
        "3025891",
        "0.4534511286",
        "Arkansas",
        "05",
        null,
        "05"
    ],
    [
        "177.8496514900",
        "177.5519359400",
        "10067664",
        "10050811",
        "-0.1673973230",
        "Michigan",
        "26",
        null,
        "26"
    ],
    [
        "153.8848863900",
        "155.1295034800",
        "1377848",
        "1388992",
        "0.8087974871",
        "New Hampshire",
        "33",
        null,
        "33"
    ],
    [
        "215.0667812600",
        "216.9997170300",
        "10457177",
        "10551162",
        "0.8987607267",
        "North Carolina",
        "37",
        null,
        "37"
    ],
    [
        "288.5685125300",
        "288.3098172500",
        "11790587",
        "11780017",
        "-0.0896477840",
        "Ohio",
        "39",
        null,
        "39"
    ],
    [
        "170.6585245200",
        "172.6534487600",
        "5130729",
        "5190705",
        "1.1689566921",
        "South Carolina",
        "45",
        null,
        "45"
    ],
    [
        "5.9457687257",
        "5.9615893092",
        "577267",
        "578803",
        "0.2660813800",
        "Wyoming",
        "56",
        null,
        "56"
    ],
    [
        "253.4347548800",
        "251.7543622300",
        "39499738",
        "39237836",
        "-0.6630474360",
        "California",
        "06",
        null,
        "06"
    ],
    [
        "11.2899813040",
        "11.2318039020",
        "778962",
        "774948",
        "-0.5153011320",
        "North Dakota",
        "38",
        null,
        "38"
    ],
    [
        "107.6388075400",
        "107.0103594900",
        "4651203",
        "4624047",
        "-0.5838489530",
        "Louisiana",
        "22",
        null,
        "22"
    ],
    [
        "635.6264925800",
        "634.8490376000",
        "6172679",
        "6165129",
        "-0.1223131800",
        "Maryland",
        "24",
        null,
        "24"
    ],
    [
        "509.0378243300",
        "514.9386202900",
        "991886",
        "1003384",
        "1.1592057958",
        "Delaware",
        "10",
        null,
        "10"
    ],
    [
        "290.3212588700",
        "289.7497855300",
        "12989625",
        "12964056",
        "-0.1968417100",
        "Pennsylvania",
        "42",
        null,
        "42"
    ],
    [
        "185.8345202600",
        "187.1125852300",
        "10725800",
        "10799566",
        "0.6877435716",
        "Georgia",
        "13",
        null,
        "13"
    ],
    [
        "44.1846449630",
        "44.2326782730",
        "4241544",
        "4246155",
        "0.1087104130",
        "Oregon",
        "41",
        null,
        "41"
    ],
    [
        "71.6741816170",
        "71.6770073090",
        "5707165",
        "5707390",
        "0.0039424127",
        "Minnesota",
        "27",
        null,
        "27"
    ],
    [
        "55.8135518910",
        "56.0814214470",
        "5784308",
        "5812069",
        "0.4799364073",
        "Colorado",
        "08",
        null,
        "08"
    ],
    [
        "1261.7440344000",
        "1260.0290755000",
        "9279743",
        "9267130",
        "-0.1359197120",
        "New Jersey",
        "34",
        null,
        "34"
    ],
    [
        "114.0488180600",
        "114.1864679600",
        "4503958",
        "4509394",
        "0.1206938431",
        "Kentucky",
        "21",
        null,
        "21"
    ],
    [
        "116.1501543700",
        "116.4497094300",
        "7718785",
        "7738692",
        "0.2579032840",
        "Washington",
        "53",
        null,
        "53"
    ],
    [
        "44.1651569730",
        "44.4882874010",
        "1362280",
        "1372247",
        "0.7316410723",
        "Maine",
        "23",
        null,
        "23"
    ],
    [
        "69.7042054230",
        "70.0378118040",
        "642495",
        "645570",
        "0.4786029463",
        "Vermont",
        "50",
        null,
        "50"
    ],
    [
        "22.3578995750",
        "23.0010226010",
        "1847772",
        "1900923",
        "2.8764912554",
        "Idaho",
        "16",
        null,
        "16"
    ],
    [
        "189.4058052400",
        "189.9735779500",
        "6785644",
        "6805985",
        "0.2997652102",
        "Indiana",
        "18",
        null,
        "18"
    ],
    [
        "7.4626610516",
        "7.5868654853",
        "1086193",
        "1104271",
        "1.6643451026",
        "Montana",
        "30",
        null,
        "30"
    ],
    [
        "427.7058521400",
        "420.9359600800",
        "20154933",
        "19835913",
        "-1.5828383060",
        "New York",
        "36",
        null,
        "36"
    ],
    [
        null,
        null,
        "3281538",
        "3263584",
        "-0.5471215020",
        "Puerto Rico",
        "72",
        null,
        "72"
    ],
    [
        "743.4548987500",
        "744.5569910400",
        "3600260",
        "3605597",
        "0.1482392938",
        "Connecticut",
        "09",
        null,
        "09"
    ],
    [
        "402.0439168100",
        "405.9804181900",
        "21569932",
        "21781128",
        "0.9791222337",
        "Florida",
        "12",
        null,
        "12"
    ],
    [
        "218.6314076400",
        "218.8905118900",
        "8632044",
        "8642274",
        "0.1185119075",
        "Virginia",
        "51",
        null,
        "51"
    ],
    [
        "900.1762592300",
        "895.3695301300",
        "7022220",
        "6984723",
        "-0.5339764350",
        "Massachusetts",
        "25",
        null,
        "25"
    ],
    [
        "230.3083706700",
        "228.2588546000",
        "12785245",
        "12671469",
        "-0.8899008190",
        "Illinois",
        "17",
        null,
        "17"
    ],
    [
        "63.0140994180",
        "62.8669463950",
        "2956870",
        "2949965",
        "-0.2335239630",
        "Mississippi",
        "28",
        null,
        "28"
    ],
    [
        "63.1569377370",
        "64.0221138030",
        "7177986",
        "7276316",
        "1.3698828613",
        "Arizona",
        "04",
        null,
        "04"
    ],
    [
        "39.8374603160",
        "40.5207956030",
        "3281684",
        "3337975",
        "1.7153083600",
        "Utah",
        "49",
        null,
        "49"
    ],
    [
        "108.7799712400",
        "108.8461550200",
        "5892323",
        "5895908",
        "0.0608418785",
        "Wisconsin",
        "55",
        null,
        "55"
    ],
    [
        "99.2122841380",
        "99.5099129150",
        "5024803",
        "5039877",
        "0.2999918604",
        "Alabama",
        "01",
        null,
        "01"
    ],
    [
        "74.4472333340",
        "74.1627628920",
        "1789798",
        "1782959",
        "-0.3821101600",
        "West Virginia",
        "54",
        null,
        "54"
    ],
    [
        "1060.2977048000",
        "1059.6989939000",
        "1096229",
        "1095610",
        "-0.0564663040",
        "Rhode Island",
        "44",
        null,
        "44"
    ],
    [
        "1.2826862600",
        "1.2830925496",
        "732441",
        "732673",
        "0.0316749062",
        "Alaska",
        "02",
        null,
        "02"
    ]
]

In [5]:
query_df = pd.DataFrame(query)
query_df.head()
#query_df.describe()

,0,1,2,3,4,5,6,7,8
0,DENSITY_2020,DENSITY_2021,POP_2020,POP_2021,PPOPCHG_2021,NAME,STATE,REGION,state
1,57.7584243640,58.1171593930,3962031,3986639,0.6210955947,Oklahoma,40,None,40
2,25.5338435350,25.5629643700,1961455,1963692,0.1140479899,Nebraska,31,None,31
3,226.0689240300,224.4561379100,1451911,1441553,-0.7134046100,Hawaii,15,None,15
4,11.7016675950,11.8108489860,887099,895376,0.9330412953,South Dakota,46,None,46

In [6]:
#take index=0 and make it the column headers

query_df.columns = query_df.iloc[0]
query_df = query_df[1:]
query_df.reset_index(drop=True, inplace=True)
query_df.head()

,DENSITY_2020,DENSITY_2021,POP_2020,POP_2021,PPOPCHG_2021,NAME,STATE,REGION,state
0,57.7584243640,58.1171593930,3962031,3986639,0.6210955947,Oklahoma,40,None,40
1,25.5338435350,25.5629643700,1961455,1963692,0.1140479899,Nebraska,31,None,31
2,226.0689240300,224.4561379100,1451911,1441553,-0.7134046100,Hawaii,15,None,15
3,11.7016675950,11.8108489860,887099,895376,0.9330412953,South Dakota,46,None,46
4,167.8316023700,169.1679021400,6920119,6975218,0.7962146316,Tennessee,47,None,47

In [7]:
#Rename columns & convert to int & float

renamed_query_df = query_df.rename(columns={
    "DENSITY_2020": "Pop.Density 2020",
    "DENSITY_2021": "Pop.Density 2021",    
    "POP_2020": "Total Pop.2020",
    "POP_2021": "Total Pop.2021",
    "PPOPCHG_2021": "Pop.Change '20-'21",
    "NAME": "State",
    "STATE": "State Code",
    "REGION": "Region",
    "state": "state"}
)
del renamed_query_df['state']
del renamed_query_df['Region']

renamed_query_df["Pop.Density 2020"] = renamed_query_df[
   "Pop.Density 2020"].astype(float)

renamed_query_df["Pop.Density 2021"] = renamed_query_df[
   "Pop.Density 2021"].astype(float)

renamed_query_df["Total Pop.2020"] = renamed_query_df[
   "Total Pop.2020"].astype(int)

renamed_query_df["Total Pop.2021"] = renamed_query_df[
   "Total Pop.2021"].astype(int)

renamed_query_df["Pop.Change '20-'21"] = renamed_query_df[
   "Pop.Change '20-'21"].astype(float)

renamed_query_df["State Code"] = renamed_query_df[
   "State Code"].astype(int)

renamed_query_df.head()

,Pop.Density 2020,Pop.Density 2021,Total Pop.2020,Total Pop.2021,Pop.Change '20-'21,State,State Code
0,57.758424,58.117159,3962031,3986639,0.621096,Oklahoma,40
1,25.533844,25.562964,1961455,1963692,0.114048,Nebraska,31
2,226.068924,224.456138,1451911,1441553,-0.713405,Hawaii,15
3,11.701668,11.810849,887099,895376,0.933041,South Dakota,46
4,167.831602,169.167902,6920119,6975218,0.796215,Tennessee,47

In [8]:
#Reorder columns

new_col_order = ["State", "State Code", "Pop.Density 2020", "Pop.Density 2021", "Total Pop.2020", "Total Pop.2021", "Pop.Change '20-'21"]
new_col_query_df = renamed_query_df[new_col_order]
new_col_query_df.head()

,State,State Code,Pop.Density 2020,Pop.Density 2021,Total Pop.2020,Total Pop.2021,Pop.Change '20-'21
0,Oklahoma,40,57.758424,58.117159,3962031,3986639,0.621096
1,Nebraska,31,25.533844,25.562964,1961455,1963692,0.114048
2,Hawaii,15,226.068924,224.456138,1451911,1441553,-0.713405
3,South Dakota,46,11.701668,11.810849,887099,895376,0.933041
4,Tennessee,47,167.831602,169.167902,6920119,6975218,0.796215

In [9]:
final_query_df = new_col_query_df.sort_values(by="Pop.Change '20-'21", ascending=False)
final_query_df

,State,State Code,Pop.Density 2020,Pop.Density 2021,Total Pop.2020,Total Pop.2021,Pop.Change '20-'21
34,Idaho,16,22.357900,23.001023,1847772,1900923,2.876491
46,Utah,49,39.837460,40.520796,3281684,3337975,1.715308
36,Montana,30,7.462661,7.586865,1086193,1104271,1.664345
45,Arizona,4,63.156938,64.022114,7177986,7276316,1.369883
17,South Carolina,45,170.658525,172.653449,5130729,5190705,1.168957
23,Delaware,10,509.037824,514.938620,991886,1003384,1.159206
10,Texas,48,111.830574,113.018201,29217653,29527941,1.061988
40,Florida,12,402.043917,405.980418,21569932,21781128,0.979122
5,Nevada,32,28.345716,28.618062,3114071,3143991,0.960800
3,South Dakota,46,11.701668,11.810849,887099,895376,0.933041
15,North Carolina,37,215.066781,216.999717,10457177,10551162,0.898761
14,New Hampshire,33,153.884886,155.129503,1377848,1388992,0.808797
4,Tennessee,47,167.831602,169.167902,6920119,6975218,0.796215
32,Maine,23,44.165157,44.488287,1362280,1372247,0.731641
25,Georgia,13,185.834520,187.112585,10725800,10799566,0.687744
0,Oklahoma,40,57.758424,58.117159,3962031,3986639,0.621096
28,Colorado,8,55.813552,56.081421,5784308,5812069,0.479936
33,Vermont,50,69.704205,70.037812,642495,645570,0.478603
12,Arkansas,5,57.931985,58.194679,3012232,3025891,0.453451
48,Alabama,1,99.212284,99.509913,5024803,5039877,0.299992
35,Indiana,18,189.405805,189.973578,6785644,6805985,0.299765
18,Wyoming,56,5.945769,5.961589,577267,578803,0.266081
31,Washington,53,116.150154,116.449709,7718785,7738692,0.257903
11,Missouri,29,89.524134,89.723504,6154481,6168187,0.222700
39,Connecticut,9,743.454899,744.556991,3600260,3605597,0.148239
7,Iowa,19,57.090052,57.169008,3188669,3193079,0.138302
30,Kentucky,21,114.048818,114.186468,4503958,4509394,0.120694
41,Virginia,51,218.631408,218.890512,8632044,8642274,0.118512
1,Nebraska,31,25.533844,25.562964,1961455,1963692,0.114048
26,Oregon,41,44.184645,44.232678,4241544,4246155,0.108710
47,Wisconsin,55,108.779971,108.846155,5892323,5895908,0.060842
51,Alaska,2,1.282686,1.283093,732441,732673,0.031675
27,Minnesota,27,71.674182,71.677007,5707165,5707390,0.003942
8,Kansas,20,35.909130,35.893254,2935880,2934582,-0.044212
50,Rhode Island,44,1060.297705,1059.698994,1096229,1095610,-0.056466
6,New Mexico,35,17.455430,17.441507,2117566,2115877,-0.079761
16,Ohio,39,288.568513,288.309817,11790587,11780017,-0.089648
22,Maryland,24,635.626493,634.849038,6172679,6165129,-0.122313
29,New Jersey,34,1261.744034,1260.029076,9279743,9267130,-0.135920
13,Michigan,26,177.849651,177.551936,10067664,10050811,-0.167397
24,Pennsylvania,42,290.321259,289.749786,12989625,12964056,-0.196842
44,Mississippi,28,63.014099,62.866946,2956870,2949965,-0.233524
49,West Virginia,54,74.447233,74.162763,1789798,1782959,-0.382110
20,North Dakota,38,11.289981,11.231804,778962,774948,-0.515301
42,Massachusetts,25,900.176259,895.369530,7022220,6984723,-0.533976
38,Puerto Rico,72,NaN,NaN,3281538,3263584,-0.547122
21,Louisiana,22,107.638808,107.010359,4651203,4624047,-0.583849
19,California,6,253.434755,251.754362,39499738,39237836,-0.663047
2,Hawaii,15,226.068924,224.456138,1451911,1441553,-0.713405
43,Illinois,17,230.308371,228.258855,12785245,12671469,-0.889901
37,New York,36,427.705852,420.935960,20154933,19835913,-1.582838
9,District of Columbia,11,11289.744049,10961.845722,690093,670050,-2.904391