In [16]:
import json
import pandas as pd
import os
import numpy as np
import requests
from dotenv import load_dotenv
import pathlib as path

In [17]:
load_dotenv()
api_key = os.getenv("CENSUS_API_KEY")

In [18]:
#All Census api requests start with https://api.census.gov/data
#Then it's the dataset (one of over 1,200), ex: 2018/pep/charagegroups
# Then "?get=" followed by the list of variables and geographies we want data for, ex:
#POP,GEONAME, DATE_DESC&DATE_CODE=11&RACE=10
#Then, set the geography/ Foe ex: "&for=county:*&in=state:24" The * means all available values

#https://api.census.gov/data/2018/pep/charagegroups?get=POP,GEONAME,DATE_DESC&DATE_CODE=
#11&RACE=10&for=county:*&in=state:24

In [19]:
# National & State population totals as of 7/1/23

In [32]:
# Relative path to the CSV file
csv_file_path = './Census/State_Population_Estimates_2023.csv'

# Read the CSV file into a DataFrame
raw_df = pd.read_csv('C:/users/Daniel Quinn/Desktop/Bootcamp/Project_1_Working_Copy/Census/State_Population_Estimates_2023.csv')

# Display the first few rows of the DataFrame
raw_df = pd.DataFrame(raw_df)
reindex_df = raw_df.dropna()
reindex_df = reindex_df.reset_index(drop=True)

reindex_df = reindex_df.rename(columns={"Resident Population Age 18 Years and Older": "Resident Population >=Age 18", "Unnamed: 3": "% of Total"})

reindex_df.tail()

,Geographic Area,Total Resident Population,Resident Population >=Age 18,% of Total
52,.Washington,"7,812,880","6,164,810",78.9
53,.West Virginia,"1,770,071","1,417,859",80.1
54,.Wisconsin,"5,910,955","4,661,826",78.9
55,.Wyoming,"584,057","454,508",77.8
56,Puerto Rico,"3,205,691","2,707,012",84.4

In [33]:
#removed the commas from these cols to enable conversion to int

reindex_df["Total Resident Population"] = reindex_df[
    "Total Resident Population"].str.replace(',' , '')

reindex_df["Resident Population >=Age 18"] = reindex_df[
    "Resident Population >=Age 18"].str.replace(',' , '')

#removed the period from in front of each state name

reindex_df["Geographic Area"] = reindex_df[
    "Geographic Area"].str.replace('.' , '')

reindex_df.head()

,Geographic Area,Total Resident Population,Resident Population >=Age 18,% of Total
0,United States,334914895,262083034,78.3
1,Northeast,56983517,45499951,79.8
2,Midwest,68909283,53689720,77.9
3,South,130125290,101091962,77.7
4,West,78896805,61801401,78.3

In [22]:
reindex_df["Total Resident Population"] = reindex_df[
    "Total Resident Population"].astype(int)

reindex_df["Resident Population >=Age 18"] = reindex_df[
    "Resident Population >=Age 18"].astype(int)

reindex_df.dtypes

Geographic Area                  object
Total Resident Population         int32
Resident Population >=Age 18      int32
% of Total                      float64
dtype: object