In [1]:
import json
import pandas as pd
import os
import numpy as np
import requests
from dotenv import load_dotenv
import pathlib as path

In [2]:
load_dotenv()
api_key = os.getenv("CENSUS_API_KEY")

In [3]:
#2022 County Populations:

state2022_url = f'https://api.census.gov/data/2022/acs/acs1?get=NAME,B01003_001E&for=county:*&in=state:*&key={api_key}'
state2022_query = requests.get(state2022_url).json()
#print(json.dumps(state2019_query, indent=4))

In [4]:
state_pop2022_df = pd.DataFrame(state2022_query)
state_pop2022_df.head()

state_pop2022_df.columns = state_pop2022_df.iloc[0]
state_pop2022_df = state_pop2022_df[1:]
state_pop2022_df.reset_index(drop=True, inplace=True)

state_pop2022_df.head()
state_pop2022_df2 = state_pop2022_df.rename(columns={"NAME": "County", "B01003_001E": "Population", "state": "State Code"})
state_pop2022_df2.sort_values("State Code")
#query_df.describe()

0                                  County Population State Code county
0                 Baldwin County, Alabama     246435         01    003
19             Tuscaloosa County, Alabama     236780         01    125
18              Talladega County, Alabama      80704         01    121
17                 Shelby County, Alabama     230115         01    117
16              St. Clair County, Alabama      93932         01    115
..                                    ...        ...        ...    ...
843          Ponce Municipio, Puerto Rico     132138         72    113
844       San Juan Municipio, Puerto Rico     334776         72    127
845       Toa Alta Municipio, Puerto Rico      66041         72    135
846       Toa Baja Municipio, Puerto Rico      72783         72    137
847  Trujillo Alto Municipio, Puerto Rico      66810         72    139

[848 rows x 4 columns]

In [5]:
#2021 County Populations:

state2021_url = f'https://api.census.gov/data/2021/acs/acs1?get=NAME,B01003_001E&for=county:*&in=state:*&key={api_key}'
state2021_query = requests.get(state2021_url).json()
#print(json.dumps(state2019_query, indent=4))

In [6]:
state_pop2021_df = pd.DataFrame(state2021_query)
state_pop2021_df.head()

state_pop2021_df.columns = state_pop2021_df.iloc[0]
state_pop2021_df = state_pop2021_df[1:]
state_pop2021_df.reset_index(drop=True, inplace=True)

state_pop2021_df.head()
state_pop2021_df2 = state_pop2021_df.rename(columns={"NAME": "County", "B01003_001E": "Population", "state": "State Code"})
state_pop2021_df2.sort_values("State Code")
#query_df.describe()

0                                  County Population State Code county
0                 Baldwin County, Alabama     239294         01    003
19             Tuscaloosa County, Alabama     227007         01    125
18              Talladega County, Alabama      81524         01    121
17                 Shelby County, Alabama     226902         01    117
16              St. Clair County, Alabama      92748         01    115
..                                    ...        ...        ...    ...
836          Ponce Municipio, Puerto Rico     135084         72    113
837       San Juan Municipio, Puerto Rico     337300         72    127
838       Toa Alta Municipio, Puerto Rico      67569         72    135
839       Toa Baja Municipio, Puerto Rico      74368         72    137
840  Trujillo Alto Municipio, Puerto Rico      67211         72    139

[841 rows x 4 columns]

In [7]:
#2020 County Populations

county2020_query_url = f'https://api.census.gov/data/2020/dec/pl?get=NAME,P1_001N&for=county:*&in=state:*&key={api_key}'

query = requests.get(county2020_query_url).json()
#print(json.dumps(query, indent=4))

In [8]:
county2020_query_df = pd.DataFrame(query)
county2020_query_df
#column rename

county2020_query_df.columns = county2020_query_df.iloc[0]
county2020_query_df = county2020_query_df[1:]
county2020_query_df.reset_index(drop=True, inplace=True)
county2020_query_df

county2020_query_df2 = county2020_query_df.rename(columns={"NAME": "County", "P1_001N": "Population", "state": "State Code", "county": "County Code"})
county2020_query_df2.sort_values("State Code")

0                                  County Population State Code County Code
0                 Autauga County, Alabama      58805         01         001
208            Lauderdale County, Alabama      93564         01         077
209                   Lee County, Alabama     174241         01         081
210               Lowndes County, Alabama      10311         01         085
211                 Macon County, Alabama      19532         01         087
...                                   ...        ...        ...         ...
1179         Ponce Municipio, Puerto Rico     137491         72         113
1180  Quebradillas Municipio, Puerto Rico      23638         72         115
1299    Río Grande Municipio, Puerto Rico      47060         72         119
1171      Mayagüez Municipio, Puerto Rico      73077         72         097
1148        Ciales Municipio, Puerto Rico      16984         72         039

[3221 rows x 4 columns]

In [9]:
#2019 County Populations:

state2019_url = f'https://api.census.gov/data/2019/acs/acs1?get=NAME,B01003_001E&for=county:*&in=state:*&key={api_key}'
state2019_query = requests.get(state2019_url).json()
#print(json.dumps(state2019_query, indent=4))

In [10]:
state_pop2019_df = pd.DataFrame(state2019_query)
state_pop2019_df.head()

state_pop2019_df.columns = state_pop2019_df.iloc[0]
state_pop2019_df = state_pop2019_df[1:]
state_pop2019_df.reset_index(drop=True, inplace=True)
state_pop2019_df

state_pop2019_df2 = state_pop2019_df.rename(columns={"NAME": "County", "B01003_001E": "Population", "state": "State Code", "county": "County Code"})
state_pop2019_df2.sort_values("State Code").head(10)
#query_df.describe()

0                       County Population State Code County Code
0      Baldwin County, Alabama     223234         01         003
20      Walker County, Alabama      63521         01         127
19  Tuscaloosa County, Alabama     209355         01         125
18   Talladega County, Alabama      79978         01         121
17      Shelby County, Alabama     217702         01         117
16   St. Clair County, Alabama      89512         01         115
15      Morgan County, Alabama     119679         01         103
14  Montgomery County, Alabama     226486         01         101
12    Marshall County, Alabama      96774         01         095
11     Madison County, Alabama     372909         01         089

In [11]:
#2018 County Populations:

state2018_url = f'https://api.census.gov/data/2018/acs/acs1?get=NAME,B01003_001E&for=county:*&in=state:*&key={api_key}'

state2018_query = requests.get(state2018_url).json()
#print(json.dumps(state2020_query, indent=4))

In [12]:
state_pop2018_df = pd.DataFrame(state2018_query)
state_pop2018_df.head()

state_pop2018_df.columns = state_pop2018_df.iloc[0]
state_pop2018_df = state_pop2018_df[1:]
state_pop2018_df.reset_index(drop=True, inplace=True)
state_pop2018_df

state_pop2018_df2 = state_pop2018_df.rename(columns={"NAME": "County", "B01003_001E": "Population", "state": "State Code", "county": "County Code"})
state_pop2018_df2.sort_values("State Code")
#query_df.describe()

0                                  County Population State Code County Code
0                 Baldwin County, Alabama     218022         01         003
20                 Walker County, Alabama      63711         01         127
19             Tuscaloosa County, Alabama     208911         01         125
18              Talladega County, Alabama      79828         01         121
17                 Shelby County, Alabama     215707         01         117
..                                    ...        ...        ...         ...
833          Ponce Municipio, Puerto Rico     133191         72         113
834       San Juan Municipio, Puerto Rico     320967         72         127
835       Toa Alta Municipio, Puerto Rico      71094         72         135
836       Toa Baja Municipio, Puerto Rico      74623         72         137
837  Trujillo Alto Municipio, Puerto Rico      63746         72         139

[838 rows x 4 columns]

In [13]:
#2017 County Populations:

state2017_url = f'https://api.census.gov/data/2017/acs/acs1?get=NAME,B01003_001E&for=county:*&in=state:*&key={api_key}'

state2017_query = requests.get(state2017_url).json()
#print(json.dumps(state2017_query, indent=4))

In [14]:
state_pop2017_df = pd.DataFrame(state2017_query)
state_pop2017_df.head()

state_pop2017_df.columns = state_pop2017_df.iloc[0]
state_pop2017_df = state_pop2017_df[1:]
state_pop2017_df.reset_index(drop=True, inplace=True)
state_pop2017_df

state_pop2017_df2 = state_pop2017_df.rename(columns={"NAME": "County", "B01003_001E": "Population", "state": "State Code", "county": "County Code"})
state_pop2017_df2.sort_values("State Code")
#query_df.describe()

0                                  County Population State Code County Code
363               Baldwin County, Alabama     212628         01         003
383                Walker County, Alabama      64058         01         127
382            Tuscaloosa County, Alabama     207811         01         125
381             Talladega County, Alabama      80065         01         121
380                Shelby County, Alabama     213605         01         117
..                                    ...        ...        ...         ...
358          Ponce Municipio, Puerto Rico     140859         72         113
359       San Juan Municipio, Puerto Rico     337288         72         127
360       Toa Alta Municipio, Puerto Rico      73217         72         135
361       Toa Baja Municipio, Puerto Rico      78092         72         137
362  Trujillo Alto Municipio, Puerto Rico      66675         72         139

[837 rows x 4 columns]

In [15]:
#2016 County Populations:

state2016_url = f'https://api.census.gov/data/2016/acs/acs1?get=NAME,B01003_001E&for=county:*&in=state:*&key={api_key}'

state2016_query = requests.get(state2016_url).json()
#print(json.dumps(state2016_query, indent=4))

In [16]:
state_pop2016_df = pd.DataFrame(state2016_query)
state_pop2016_df.head()

state_pop2016_df.columns = state_pop2016_df.iloc[0]
state_pop2016_df = state_pop2016_df[1:]
state_pop2016_df.reset_index(drop=True, inplace=True)
state_pop2016_df

state_pop2016_df2 = state_pop2016_df.rename(columns={"NAME": "County", "B01003_001E": "Population", "state": "State Code", "county": "County Code"})
state_pop2016_df2.sort_values("State Code").head(10)
#query_df.describe()

0                        County Population State Code County Code
453      Morgan County, Alabama     119012         01         103
458      Walker County, Alabama      64967         01         127
457  Tuscaloosa County, Alabama     206102         01         125
455      Shelby County, Alabama     210622         01         117
454   St. Clair County, Alabama      88019         01         115
438     Baldwin County, Alabama     208563         01         003
439     Calhoun County, Alabama     114611         01         015
440     Cullman County, Alabama      82471         01         043
441      DeKalb County, Alabama      70900         01         049
442      Elmore County, Alabama      81799         01         051

In [17]:
#2015 County Populations:

state2015_url = f'https://api.census.gov/data/2015/acs/acs1?get=NAME,B01003_001E&for=county:*&in=state:*&key={api_key}'

state2015_query = requests.get(state2015_url).json()
#print(json.dumps(state2015_query, indent=4))

In [18]:
state_pop2015_df = pd.DataFrame(state2015_query)
state_pop2015_df.head()

state_pop2015_df.columns = state_pop2015_df.iloc[0]
state_pop2015_df = state_pop2015_df[1:]
state_pop2015_df.reset_index(drop=True, inplace=True)
state_pop2015_df

state_pop2015_df2 = state_pop2015_df.rename(columns={"NAME": "County", "B01003_001E": "Population", "state": "State Code", "county": "County Code"})
state_pop2015_df2.sort_values("State Code")
#query_df.describe()

0                             County Population State Code County Code
0            Baldwin County, Alabama     203709         01         003
20            Walker County, Alabama      65294         01         127
19        Tuscaloosa County, Alabama     203976         01         125
18         Talladega County, Alabama      80862         01         121
17            Shelby County, Alabama     208713         01         117
..                               ...        ...        ...         ...
603  Carolina Municipio, Puerto Rico     161884         72         031
602    Caguas Municipio, Puerto Rico     134481         72         025
600   Arecibo Municipio, Puerto Rico      89648         72         013
607  San Juan Municipio, Puerto Rico     355074         72         127
601   Bayamón Municipio, Puerto Rico     189159         72         021

[830 rows x 4 columns]

In [19]:
#2014 County Populations:

state2014_url = f'https://api.census.gov/data/2014/acs/acs1?get=NAME,B01003_001E&for=county:*&in=state:*&key={api_key}'

state2014_query = requests.get(state2014_url).json()
#print(json.dumps(state2014_query, indent=4))

In [20]:
state_pop2014_df = pd.DataFrame(state2014_query)
#state_pop2014_df.head()

state_pop2014_df.columns = state_pop2014_df.iloc[0]
state_pop2014_df = state_pop2014_df[1:]
state_pop2014_df.reset_index(drop=True, inplace=True)
state_pop2014_df

state_pop2014_df2 = state_pop2014_df.rename(columns={"NAME": "County", "B01003_001E": "Population", "state": "State Code", "county": "County Code"})
state_pop2014_df2.sort_values("State Code")
#query_df.describe()

0                                  County Population State Code County Code
0                 Baldwin County, Alabama     200111         01         003
20                 Walker County, Alabama      65471         01         127
19             Tuscaloosa County, Alabama     202212         01         125
18              Talladega County, Alabama      81322         01         121
17                 Shelby County, Alabama     206655         01         117
..                                    ...        ...        ...         ...
823          Ponce Municipio, Puerto Rico     153540         72         113
824       San Juan Municipio, Puerto Rico     365575         72         127
825       Toa Alta Municipio, Puerto Rico      74837         72         135
826       Toa Baja Municipio, Puerto Rico      84165         72         137
827  Trujillo Alto Municipio, Puerto Rico      71019         72         139

[828 rows x 4 columns]

In [21]:
#2013 County Populations:

state2013_url = f'https://api.census.gov/data/2013/acs/acs1?get=NAME,B01003_001E&for=county:*&in=state:*&key={api_key}'

state2013_query = requests.get(state2013_url).json()
#print(json.dumps(state2013_query, indent=4))

In [22]:
state_pop2013_df = pd.DataFrame(state2013_query)
state_pop2013_df.columns = state_pop2013_df.iloc[0]
state_pop2013_df = state_pop2013_df[1:]
state_pop2013_df.reset_index(drop=True, inplace=True)
state_pop2013_df

state_pop2013_df2 = state_pop2013_df.rename(columns={"NAME": "County", "B01003_001E": "Population", "state": "State Code", "county": "County Code"})
state_pop2013_df2.sort_values("State Code")
#query_df.describe()

0                                  County Population State Code County Code
0                 Baldwin County, Alabama     195540         01         003
20                 Walker County, Alabama      65998         01         127
19             Tuscaloosa County, Alabama     200821         01         125
18              Talladega County, Alabama      81096         01         121
17                 Shelby County, Alabama     204180         01         117
..                                    ...        ...        ...         ...
823          Ponce Municipio, Puerto Rico     157118         72         113
824       San Juan Municipio, Puerto Rico     374682         72         127
825       Toa Alta Municipio, Puerto Rico      75292         72         135
826       Toa Baja Municipio, Puerto Rico      85971         72         137
827  Trujillo Alto Municipio, Puerto Rico      72581         72         139

[828 rows x 4 columns]

In [23]:
#2012 County Populations:

state2012_url = f'https://api.census.gov/data/2012/acs/acs1?get=NAME,B01003_001E&for=county:*&in=state:*&key={api_key}'

state2012_query = requests.get(state2012_url).json()
#print(json.dumps(state2013_query, indent=4))

In [24]:
state_pop2012_df = pd.DataFrame(state2012_query)
state_pop2012_df.columns = state_pop2012_df.iloc[0]
state_pop2012_df = state_pop2012_df[1:]
state_pop2012_df.reset_index(drop=True, inplace=True)
state_pop2012_df

state_pop2012_df2 = state_pop2012_df.rename(columns={"NAME": "County", "B01003_001E": "Population", "state": "State Code", "county": "County Code"})
state_pop2012_df2.sort_values("State Code")
#query_df.describe()

0                                  County Population State Code County Code
144                Walker County, Alabama      66221         01         127
139                Morgan County, Alabama     120395         01         103
138            Montgomery County, Alabama     230149         01         101
137                Mobile County, Alabama     413936         01         097
136              Marshall County, Alabama      94776         01         095
..                                    ...        ...        ...         ...
119          Ponce Municipio, Puerto Rico     160322         72         113
120       San Juan Municipio, Puerto Rico     382299         72         127
121       Toa Alta Municipio, Puerto Rico      75434         72         135
122       Toa Baja Municipio, Puerto Rico      87582         72         137
123  Trujillo Alto Municipio, Puerto Rico      73718         72         139

[825 rows x 4 columns]

In [25]:
#2011 County Populations:

state2011_url = f'https://api.census.gov/data/2011/acs/acs1?get=NAME,B01003_001E&for=county:*&in=state:*&key={api_key}'

state2011_query = requests.get(state2011_url).json()
#print(json.dumps(state2013_query, indent=4))

In [26]:
state_pop2011_df = pd.DataFrame(state2011_query)
state_pop2011_df.columns = state_pop2011_df.iloc[0]
state_pop2011_df = state_pop2011_df[1:]
state_pop2011_df.reset_index(drop=True, inplace=True)
state_pop2011_df

state_pop2011_df2 = state_pop2011_df.rename(columns={"NAME": "County", "B01003_001E": "Population", "state": "State Code", "county": "County Code"})
state_pop2011_df2.sort_values("State Code")
#query_df.describe()

0                                  County Population State Code County Code
131                Mobile County, Alabama     412577         01         097
138                Walker County, Alabama      66661         01         127
137            Tuscaloosa County, Alabama     197211         01         125
136             Talladega County, Alabama      81664         01         121
135                Shelby County, Alabama     197936         01         117
..                                    ...        ...        ...         ...
113          Ponce Municipio, Puerto Rico     163727         72         113
114       San Juan Municipio, Puerto Rico     389714         72         127
115       Toa Alta Municipio, Puerto Rico      75105         72         135
116       Toa Baja Municipio, Puerto Rico      88799         72         137
117  Trujillo Alto Municipio, Puerto Rico      74490         72         139

[822 rows x 4 columns]

In [27]:
#2010 County Populations:

state2010_url = f'https://api.census.gov/data/2010/acs/acs1?get=NAME,B01003_001E&for=county:*&in=state:*&key={api_key}'

state2010_query = requests.get(state2010_url).json()
#print(json.dumps(state2013_query, indent=4))

In [28]:
state_pop2010_df = pd.DataFrame(state2010_query)
state_pop2010_df.columns = state_pop2010_df.iloc[0]
state_pop2010_df = state_pop2010_df[1:]
state_pop2010_df.reset_index(drop=True, inplace=True)
state_pop2010_df

state_pop2010_df2 = state_pop2010_df.rename(columns={"NAME": "County", "B01003_001E": "Population", "state": "State Code", "county": "County Code"})
state_pop2010_df2.sort_values("State Code")
#query_df.describe()

0                                  County Population State Code County Code
0                 Baldwin County, Alabama     183195         01         003
20                 Walker County, Alabama      66947         01         127
19             Tuscaloosa County, Alabama     195036         01         125
18              Talladega County, Alabama      82110         01         121
17                 Shelby County, Alabama     195828         01         117
..                                    ...        ...        ...         ...
813          Ponce Municipio, Puerto Rico     166164         72         113
814       San Juan Municipio, Puerto Rico     395074         72         127
815       Toa Alta Municipio, Puerto Rico      73954         72         135
816       Toa Baja Municipio, Puerto Rico      89513         72         137
817  Trujillo Alto Municipio, Puerto Rico      74754         72         139

[818 rows x 4 columns]

In [29]:
counties = [state_pop2010_df2, state_pop2011_df2, state_pop2012_df2, 
                    state_pop2013_df2, state_pop2014_df2, state_pop2015_df2, 
                    state_pop2016_df2, state_pop2017_df2, state_pop2018_df2, 
                    state_pop2019_df2, county2020_query_df2, state_pop2021_df2, state_pop2022_df2]

master_county_df = pd.concat(counties, axis=1).dropna()

# Concatenate DataFrames along rows (axis=0) or columns (axis=1)
#master_county_df = pd.concat(dfs, axis=1)  # Use axis=0 for vertical concatenation and axis=1 for horizontal concatenation

master_county_df

,County,Population,State Code,County Code,County,Population,State Code,County Code,County,Population,...,State Code,County Code,County,Population,State Code,county,County,Population,State Code,county
0,"Baldwin County, Alabama",183195,01,003,"Montgomery County, Texas",471734,48,339,"Johnson County, Texas",153441,...,01,001,"Baldwin County, Alabama",239294,01,003,"Baldwin County, Alabama",246435,01,003
1,"Calhoun County, Alabama",118510,01,015,"Nacogdoches County, Texas",65466,48,347,"Kaufman County, Texas",106753,...,01,003,"Calhoun County, Alabama",115972,01,015,"Calhoun County, Alabama",115788,01,015
2,"Cullman County, Alabama",80459,01,043,"Nueces County, Texas",343281,48,355,"Liberty County, Texas",76571,...,01,005,"Cullman County, Alabama",89496,01,043,"Cullman County, Alabama",90665,01,043
3,"DeKalb County, Alabama",71151,01,049,"Orange County, Texas",82487,48,361,"Lubbock County, Texas",285760,...,01,007,"DeKalb County, Alabama",71813,01,049,"DeKalb County, Alabama",71998,01,049
4,"Elmore County, Alabama",79549,01,051,"Parker County, Texas",118376,48,367,"McLennan County, Texas",238707,...,01,009,"Elmore County, Alabama",89304,01,051,"Elmore County, Alabama",89563,01,051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813,"Ponce Municipio, Puerto Rico",166164,72,113,"Hidalgo County, Texas",797810,48,215,"Fort Bend County, Texas",627293,...,54,081,"Marathon County, Wisconsin",137648,55,073,"Dodge County, Wisconsin",88282,55,027
814,"San Juan Municipio, Puerto Rico",395074,72,127,"Hunt County, Texas",86531,48,231,"Galveston County, Texas",300484,...,54,083,"Milwaukee County, Wisconsin",928059,55,079,"Eau Claire County, Wisconsin",106837,55,035
815,"Toa Alta Municipio, Puerto Rico",73954,72,135,"Jefferson County, Texas",252802,48,245,"Grayson County, Texas",121935,...,54,085,"Outagamie County, Wisconsin",191545,55,087,"Fond du Lac County, Wisconsin",103836,55,039
816,"Toa Baja Municipio, Puerto Rico",89513,72,137,"Johnson County, Texas",152734,48,251,"Gregg County, Texas",122658,...,54,087,"Ozaukee County, Wisconsin",92497,55,089,"Jefferson County, Wisconsin",85784,55,055
817,"Trujillo Alto Municipio, Puerto Rico",74754,72,139,"Kaufman County, Texas",105358,48,257,"Guadalupe County, Texas",139841,...,54,089,"Portage County, Wisconsin",70468,55,097,"Kenosha County, Wisconsin",167817,55,059

In [30]:
#Create initial master df:

masters = [state_pop2010_df2, state_pop2011_df2, state_pop2012_df2, state_pop2013_df2, state_pop2014_df2,
       state_pop2015_df2, state_pop2016_df2, state_pop2017_df2, state_pop2018_df2, state_pop2019_df2,
       county2020_query_df2, state_pop2021_df2, state_pop2022_df2]

# Rename the Population col:

for i, df in enumerate(masters):
    df = df.rename(columns={'Population': f'Pop{i+1}'})
    masters[i] = df[['County', f'Pop{i+1}']]  # Keep only 'name' and renamed population column

# Start with the first DataFrame
master_county_df = masters[0]

# Merged each subsequent DataFrame into the master DataFrame
for df in masters[1:]:
    master_county_df = pd.merge(master_county_df, df, on="County")

master_county_df2 = master_county_df.rename(columns={"Pop1": "2010", "Pop2": "2011", "Pop3": "2012",
                                                     "Pop4": "2013", "Pop5": "2014", "Pop6": "2015",
                                                     "Pop7": "2016", "Pop8": "2017", "Pop9": "2018",
                                                     "Pop10": "2019", "Pop11": "2020", "Pop12": "2021",
                                                     "Pop13": "2022"})

master_county_df2

,County,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"Baldwin County, Alabama",183195,186717,190790,195540,200111,203709,208563,212628,218022,223234,231767,239294,246435
1,"Calhoun County, Alabama",118510,117797,117296,116736,115916,115620,114611,114728,114277,113605,116441,115972,115788
2,"Cullman County, Alabama",80459,80536,80440,80811,81289,82005,82471,82755,83442,83768,87866,89496,90665
3,"DeKalb County, Alabama",71151,71375,71080,71013,71065,71130,70900,71617,71385,71513,71608,71813,71998
4,"Elmore County, Alabama",79549,80162,80629,80902,80977,81468,81799,81677,81887,81209,87977,89304,89563
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,"Ponce Municipio, Puerto Rico",166164,163727,160322,157118,153540,149028,145278,140859,133191,131881,137491,135084,132138
795,"San Juan Municipio, Puerto Rico",395074,389714,382299,374682,365575,355074,347052,337288,320967,318441,342259,337300,334776
796,"Toa Alta Municipio, Puerto Rico",73954,75105,75434,75292,74837,74368,73980,73217,71094,72025,66852,67569,66041
797,"Toa Baja Municipio, Puerto Rico",89513,88799,87582,85971,84165,82065,80207,78092,74623,74271,75293,74368,72783
798,"Trujillo Alto Municipio, Puerto Rico",74754,74490,73718,72581,71019,69615,68242,66675,63746,63674,67740,67211,66810

In [31]:
master_county_df2.astype({"2010":int, "2011":int, "2012":int, "2013":int, "2014":int, "2015":int, "2016":int, "2017":int,
                           "2018":int, "2019":int, "2020":int, "2021":int, "2022":int})

,County,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"Baldwin County, Alabama",183195,186717,190790,195540,200111,203709,208563,212628,218022,223234,231767,239294,246435
1,"Calhoun County, Alabama",118510,117797,117296,116736,115916,115620,114611,114728,114277,113605,116441,115972,115788
2,"Cullman County, Alabama",80459,80536,80440,80811,81289,82005,82471,82755,83442,83768,87866,89496,90665
3,"DeKalb County, Alabama",71151,71375,71080,71013,71065,71130,70900,71617,71385,71513,71608,71813,71998
4,"Elmore County, Alabama",79549,80162,80629,80902,80977,81468,81799,81677,81887,81209,87977,89304,89563
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,"Ponce Municipio, Puerto Rico",166164,163727,160322,157118,153540,149028,145278,140859,133191,131881,137491,135084,132138
795,"San Juan Municipio, Puerto Rico",395074,389714,382299,374682,365575,355074,347052,337288,320967,318441,342259,337300,334776
796,"Toa Alta Municipio, Puerto Rico",73954,75105,75434,75292,74837,74368,73980,73217,71094,72025,66852,67569,66041
797,"Toa Baja Municipio, Puerto Rico",89513,88799,87582,85971,84165,82065,80207,78092,74623,74271,75293,74368,72783
798,"Trujillo Alto Municipio, Puerto Rico",74754,74490,73718,72581,71019,69615,68242,66675,63746,63674,67740,67211,66810

In [43]:
#CAGR / Total Growth addition - FINAL DF:

master_county_df2.to_csv("C:/Users/Daniel Quinn/Desktop/Bootcamp/Project_1_Working_Copy/Census/7-17-24 Work/master_county_df2.csv")

final_county_df = pd.read_csv("C:/Users/Daniel Quinn/Desktop/Bootcamp/Project_1_Working_Copy/Census/7-17-24 Work/master_county_df2.csv")

#final_county_df = pd.DataFrame(final_county_df)

final_county_df2 = final_county_df[["County", "2010", "2011", "2012",
                                   "2013", "2014", "2015", "2016", "2017",
                                    "2018", "2019", "2020", "2021", "2022"]]

final_county_df2['Total % Change'] = final_county_df2['2022'] / final_county_df2['2010']-1

def calculate_cagr(start_value, end_value, periods):
    return (end_value / start_value) ** (1 / periods) - 1

# Calculate the number of periods
start_year = 2010
end_year = 2022
periods = end_year - start_year

# Calculate CAGR for each row
final_county_df2['CAGR'] = final_county_df2.apply(lambda row: calculate_cagr(row[str(start_year)], row[str(end_year)], periods), axis=1)

final_county_df2.columns

Index(['County', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021', '2022', 'Total % Change',
       'CAGR'],
      dtype='object')

In [44]:
#For the Prophet Analysis:

final_county_df3 = final_county_df2
del final_county_df3['CAGR']
del final_county_df3['Total % Change']
final_county_df3 = final_county_df3.set_index("County")
final_county_df3

,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
County,,,,,,,,,,,,,
"Baldwin County, Alabama",183195,186717,190790,195540,200111,203709,208563,212628,218022,223234,231767,239294,246435
"Calhoun County, Alabama",118510,117797,117296,116736,115916,115620,114611,114728,114277,113605,116441,115972,115788
"Cullman County, Alabama",80459,80536,80440,80811,81289,82005,82471,82755,83442,83768,87866,89496,90665
"DeKalb County, Alabama",71151,71375,71080,71013,71065,71130,70900,71617,71385,71513,71608,71813,71998
"Elmore County, Alabama",79549,80162,80629,80902,80977,81468,81799,81677,81887,81209,87977,89304,89563
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Ponce Municipio, Puerto Rico",166164,163727,160322,157118,153540,149028,145278,140859,133191,131881,137491,135084,132138
"San Juan Municipio, Puerto Rico",395074,389714,382299,374682,365575,355074,347052,337288,320967,318441,342259,337300,334776
"Toa Alta Municipio, Puerto Rico",73954,75105,75434,75292,74837,74368,73980,73217,71094,72025,66852,67569,66041
"Toa Baja Municipio, Puerto Rico",89513,88799,87582,85971,84165,82065,80207,78092,74623,74271,75293,74368,72783
"Trujillo Alto Municipio, Puerto Rico",74754,74490,73718,72581,71019,69615,68242,66675,63746,63674,67740,67211,66810

In [45]:
prophet_csv_file = final_county_df3.transpose()
prophet_csv_file

County,"Baldwin County, Alabama","Calhoun County, Alabama","Cullman County, Alabama","DeKalb County, Alabama","Elmore County, Alabama","Etowah County, Alabama","Houston County, Alabama","Jefferson County, Alabama","Lauderdale County, Alabama","Lee County, Alabama",...,"Bayamón Municipio, Puerto Rico","Caguas Municipio, Puerto Rico","Carolina Municipio, Puerto Rico","Guaynabo Municipio, Puerto Rico","Mayagüez Municipio, Puerto Rico","Ponce Municipio, Puerto Rico","San Juan Municipio, Puerto Rico","Toa Alta Municipio, Puerto Rico","Toa Baja Municipio, Puerto Rico","Trujillo Alto Municipio, Puerto Rico"
2010,183195,118510,80459,71151,79549,104462,101888,658555,92679,140780,...,207960,142749,176633,97864,89028,166164,395074,73954,89513,74754
2011,186717,117797,80536,71375,80162,104303,102369,658931,92781,143468,...,205693,142678,175129,97280,87712,163727,389714,75105,88799,74490
2012,190790,117296,80440,71080,80629,104392,103402,660009,92542,147257,...,202325,141392,172728,96226,86034,160322,382299,75434,87582,73718
2013,195540,116736,80811,71013,80902,103931,103668,659479,92797,150933,...,198958,139559,169597,94645,84170,157118,374682,75292,85971,72581
2014,200111,115916,81289,71065,80977,103531,104193,660793,93096,154255,...,194210,137032,165820,92799,81915,153540,365575,74837,84165,71019
2015,203709,115620,82005,71130,81468,103057,104173,660367,92596,156993,...,189159,134481,161884,90879,79510,149028,355074,74368,82065,69615
2016,208563,114611,82471,70900,81799,102564,104056,659521,92318,158991,...,184374,132164,158457,89307,77748,145278,347052,73980,80207,68242
2017,212628,114728,82755,71617,81677,102755,104346,659197,92538,161604,...,179565,129604,154489,87328,75525,140859,337288,73217,78092,66675
2018,218022,114277,83442,71385,81887,102501,104722,659300,92387,163941,...,170480,124434,147661,83787,71986,133191,320967,71094,74623,63746
2019,223234,113605,83768,71513,81209,102268,105882,658573,92729,164542,...,169269,124606,146984,83728,71530,131881,318441,72025,74271,63674
2020,231767,116441,87866,71608,87977,103436,107202,674721,93564,174241,...,185187,127244,154815,89780,73077,137491,342259,66852,75293,67740
2021,239294,115972,89496,71813,89304,103162,107458,667820,94043,177218,...,182673,126756,152993,89195,71939,135084,337300,67569,74368,67211
2022,246435,115788,90665,71998,89563,103088,108079,665409,95878,180773,...,181577,125136,151571,89057,70609,132138,334776,66041,72783,66810

In [46]:
prophet_csv_file.to_csv("C:/Users/Daniel Quinn/Desktop/Bootcamp/Project_1_Working_Copy/Census/7-17-24 Work/2010_2022_County_Pop_for_Prophet.csv")

In [47]:
import datetime as dt
from prophet import Prophet

%matplotlib inline

In [66]:
population_year = pd.read_csv(
    "C:/Users/Daniel Quinn/Desktop/Bootcamp/Project_1_Working_Copy/Census/7-17-24 Work/2010_2022_County_Pop_for_Prophet.csv",
    parse_dates=True,
    infer_datetime_format=True
).dropna()

population_year_df = pd.DataFrame(population_year)
population_year_df=population_year_df.set_index("Unnamed: 0")
population_year_df.rename({"Unnamed: 0": "County"})

# Display the first and last five rows of the DataFrame
population_year_df

C:\Users\Daniel Quinn\AppData\Local\Temp\ipykernel_17600\4110865256.py:1: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  population_year = pd.read_csv(

,"Baldwin County, Alabama","Calhoun County, Alabama","Cullman County, Alabama","DeKalb County, Alabama","Elmore County, Alabama","Etowah County, Alabama","Houston County, Alabama","Jefferson County, Alabama","Lauderdale County, Alabama","Lee County, Alabama",...,"Bayamón Municipio, Puerto Rico","Caguas Municipio, Puerto Rico","Carolina Municipio, Puerto Rico","Guaynabo Municipio, Puerto Rico","Mayagüez Municipio, Puerto Rico","Ponce Municipio, Puerto Rico","San Juan Municipio, Puerto Rico","Toa Alta Municipio, Puerto Rico","Toa Baja Municipio, Puerto Rico","Trujillo Alto Municipio, Puerto Rico"
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
2010,183195,118510,80459,71151,79549,104462,101888,658555,92679,140780,...,207960,142749,176633,97864,89028,166164,395074,73954,89513,74754
2011,186717,117797,80536,71375,80162,104303,102369,658931,92781,143468,...,205693,142678,175129,97280,87712,163727,389714,75105,88799,74490
2012,190790,117296,80440,71080,80629,104392,103402,660009,92542,147257,...,202325,141392,172728,96226,86034,160322,382299,75434,87582,73718
2013,195540,116736,80811,71013,80902,103931,103668,659479,92797,150933,...,198958,139559,169597,94645,84170,157118,374682,75292,85971,72581
2014,200111,115916,81289,71065,80977,103531,104193,660793,93096,154255,...,194210,137032,165820,92799,81915,153540,365575,74837,84165,71019
2015,203709,115620,82005,71130,81468,103057,104173,660367,92596,156993,...,189159,134481,161884,90879,79510,149028,355074,74368,82065,69615
2016,208563,114611,82471,70900,81799,102564,104056,659521,92318,158991,...,184374,132164,158457,89307,77748,145278,347052,73980,80207,68242
2017,212628,114728,82755,71617,81677,102755,104346,659197,92538,161604,...,179565,129604,154489,87328,75525,140859,337288,73217,78092,66675
2018,218022,114277,83442,71385,81887,102501,104722,659300,92387,163941,...,170480,124434,147661,83787,71986,133191,320967,71094,74623,63746
2019,223234,113605,83768,71513,81209,102268,105882,658573,92729,164542,...,169269,124606,146984,83728,71530,131881,318441,72025,74271,63674
2020,231767,116441,87866,71608,87977,103436,107202,674721,93564,174241,...,185187,127244,154815,89780,73077,137491,342259,66852,75293,67740
2021,239294,115972,89496,71813,89304,103162,107458,667820,94043,177218,...,182673,126756,152993,89195,71939,135084,337300,67569,74368,67211
2022,246435,115788,90665,71998,89563,103088,108079,665409,95878,180773,...,181577,125136,151571,89057,70609,132138,334776,66041,72783,66810

In [70]:
slice1_df = population_year_df.loc[:,"Baldwin County, Alabama"]
slice1_df

Unnamed: 0
2010    183195
2011    186717
2012    190790
2013    195540
2014    200111
2015    203709
2016    208563
2017    212628
2018    218022
2019    223234
2020    231767
2021    239294
2022    246435
Name: Baldwin County, Alabama, dtype: int64